<%= image_tag @potfolio_item.main_image %>
<h1><%= @potfolio_item.title %></h1>

<em><%= @potfolio_item.subtitle %></em>

<p><%= @potfolio_item.body %></p>

<h2>Technologies Used</h2>
<% @potfolio_item.technologies.each do |tech| %>
  <p><%= tech.name %></p>
<% end %>