<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicon_io/favicon.ico' %>

    <%= stylesheet_link_tag    'potfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/potfolio_nav' %>

    <%= render 'shared/potfolio_masthead' unless logged_in?(:site_admin)%>

    <%= yield %>
    <%= alerts %>

    <%= render 'shared/potfolio_footer' %>

  </body>
</html>
